<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Metadata Viewer</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>File Metadata Viewer</h1>
        </header>
        <main>
            <!-- <div class="upload-container">
                <label for="fileInput" class="upload-label">
                    Select a File
                    <input type="file" id="fileInput" accept="image/*,audio/*,video/*,.pdf,.doc,.docx,.xls,.xlsx">
                </label>
            </div> -->
            <div class="upload-container">
                <label for="fileInput" class="upload-label">
                    Select a File
                    <input type="file" id="fileInput" accept="image/*,audio/*,video/*,.pdf,.doc,.docx,.xls,.xlsx">
                </label>
                <p id="uploadMessage" style="display: none;">Uploading...</p>
            </div>

            <div class="metadata-container">
                <h2>File Metadata:</h2>
                <div id="metadataDisplay"></div>
            </div>
        </main>
    </div>
    <script src="/public/js/app.js"></script>
</body>

</html>